RewriteEngine On

# If the request does not contain a dot (like .css, .js, etc.), and is not a real directory
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f

# Rewrite URL without .php to .php
RewriteRule ^(.+)$ $1.php [L]